body {
	background-color: #F5F5F5;
}

.jumbotron {
	background: linear-gradient(rgb(70%, 0%, 30%),rgb(35%,0%,60%));
	color: #E7DFDD;
	text-align: center;
	margin-top: 50px;
}

footer {
	padding: 10px 10px 0 10px;
	background: linear-gradient(rgb(35%, 0%, 60%),rgb(70%,0%,30%));
	margin-bottom: 0px;
	margin-top: 10px;
}

.card-hotel{
	flex: 1 200px;
	padding: 2px 0px 2px 0px;
	margin-top: 10px;
}

.btn-reserva{
	width: 100%;
	border-radius: 0px;
}

.btn {
	background-color: #E6E6FA;
}

.btn:hover {
	color: #7B68EE;
}

a:hover {
	color: #AAA;
}

a{
	color: #FFF;
}

.footer-address-icon {
	padding-right: 5px;
}

.reserva-iconic{
	padding-right: 5px;
}

.tab-content {
	padding-top: 10px;
}